/* ====================== Global framwork =================== */
/* --------------- Root Varibale ---------------------------- */
:root{
  /* ---------- main color ------------- */
--color-pink: #fbc8c4;
--color-blue: #9bd4d7;
--color-white: #ffffff;
--color-black:  #0d074f;
--color-gray1: #464b52;
--color-gray2: #adb1bc;
--color-pink2: #e6415c;
--color-blue2: #0d074f;
/* ----------- border color ---------------*/
--border-pink: 1px solid #fbc8c4;
--border-blue: 1px solid #9bd4d7;
/* ----------- main font-family ---------- */
--font1: 'Montserrat', sans-serif;
--font2:  'Esteban', serif;
--font-bold: bold;
}
/*------------------------- global ----------------------- */
body{
  font-family: var(--font1);
  box-sizing: border-box;
}
.row{
  margin: 0;
}
.col-md-6{
  padding: 0px;
}
.logo{
  position:relative;
  font-size:35px;
  //transform:translate(-85%, -15%);
  width:60px;
  height:60px;
  background:transparent;
//  border: 1.5px solid var(--color-pink2);
  text-align:center;
  line-height:70px;
  transition: .3s;
  border: 1.5px solid var(--color-black);
}
.logo:before{
  content:"N";
  position:absolute;
  font-family:var(--font1);
  top:4px;
  right:5px;
  width:60px;
  //color:var(--color-blue2);
  color:var(--color-black);
  height:60px;
  line-height: 60px;
  font-weight:bold;
  background:transparent;
  border:1.5px solid var(--color-black);
  //border:1.5px solid var(--color-blue2);
}
.logo:after{
  content:"";
  position:absolute;
  top:12px;
  right:12px;
  width:60px;
  height:60px;
  background:transparent;
   border:1.5px solid var(--color-black);
//  border:1.5px solid #085FB8;
}
.logo span {
  text-transform: uppercase;
  //color:var(--color-blue2);
  color:var(--color-black);
  font-size:15px;
  position: relative;
  top:-40%;
  left:-50%;
}
 .button {
  position: relative;
  margin: 20px ;
  font-weight: 400 !important;
  height: 50px;
  text-align: center;
  width: 160px;
  outline: none;
  cursor: pointer;
  background: var(--color-pink2);
  border: 1px solid var(--color-blue2);
}
.button .a{
  position: absolute;
  top: 8px;
  right: 10px;
  transition: .2s;
  font-size: 12px;
  line-height: .6;
  height: 50px;
  letter-spacing: 2px;
  width: 160px;
  padding: 14px 33px;
  color: var(--color-white);
  text-decoration: none;
  border: 1px solid var(--color-blue2);
}
.button .a:hover{
  top: 0px;
  right: 0px;
  line-height: 1.7;
}
.clear-fix{
  clear: both;
}
/*================ start Header ====================================================== */
/* --------------- Header Background animation----------------- */
.hero {
  position: relative;
  background: var(--color-white);
  overflow: hidden;
  height: 110vh;
  font-family: 'Montserrat', sans-serif;
}
.cube {
  border: var(--border-pink);
  background: transparent;
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border:  var(--border-blue);
}
.cube:nth-child(2) {
  animation-delay: 1s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  animation-delay: 2s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  animation-delay: 4s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  animation-delay: 6s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  animation-delay: 8s;
  left: 50vw;
  top: 10vh;
}
/*--------------- navbar ----------------*/
.navbar{
  padding: 27px 70px 0px 70px;
  position: fixed;
  top:0;
  left:0;
  margin: 0px;
  z-index:1000;
  width:100%;
  transition: .1s;
  //height:60px;
}
.navbar-nav{
  margin-left: 40%;
  transition: .3s;
}
.navbar-nav li {
  font-weight: 500;
  margin: 0px 15px;
}
.navbar-brand {
  width: 100px;
  height: 60px
}
.navbar-light .navbar-nav .nav-link{
  color: var(--color-blue2);
  transition:.5s;
}
.navbar-light .navbar-nav .active >.nav-link,.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  color: var(--color-pink2);
  box-shadow: 1px 1px 3px 1px var(--color-gray2);
}
/* ----------------- Header Content ------------ */
.header-body{
  text-align: center;
  margin:20px 0px;
}
.header-content {
  transform: translate(0%, 35%);
  height: 500px;
  z-index:9;
}
.header-content h1{
  text-align: justify;
  font-family: var(--font1);
  color: var(--color-gray1);
  font-weight: var(--font-bold) !important;
  letter-spacing: 1px;
  font-size: 40px;
  color: var(--color-white);
  line-height: 1.5;
  text-shadow: 1px 1px 5px var(--color-blue2);
}
.header-content h1 b {
  box-shadow: 1px 1px 3px 1px  var(--color-gray2);
}
.header-content .right {
  float: right;
 position: absolute;
 top:-2%;
 right:-8%;
}
.header-content .right ul{
 list-style: none;
}
.header-content .right ul li i{
  font-size: 30px;
  color: var(--color-blue2);
  margin: 20px 0px;
  transition: .5s;
  cursor: pointer;
}
.header-content .right ul li i:hover{
  color: var(--color-pink2);
}

/*.header-content .square{
  width: 70px;
  height: 70px;
  margin: 0px 0px 0px 1px;
  border: solid 5px var(--color-pink);
  box-shadow: 1px 1px 3px 1px var(--color-blue2);
  background: transparent;
}*/
/*.header-content .header-title h2{
  color: var(--color-gray2);
  font-size: 35px;
  font-family: var(--font2);
  margin: 20px 10px 20px 90px;

.header-content .header-body p {
  color: var(--color-gray2);
  font-family: var(--font2);
  font-size: 17px;
  letter-spacing: 1px;
  margin: 20px 10px 20px 90px;
}*/
.header-content .header-body p b{
  color: var(--color-gray1);
}
/* ==================== About Me ===========================================================*/
.about {
  height: 680px;
  background: var(--color-pink);
}
/* ------------- Left Side & About me ------------- */
.slider {
  height: 680px;
  padding-bottom: 30px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/*.slider__inner{
      animation: slid 10s infinite reverse;
      animation-delay: 5s;
        animation-timing-function: ease-in;


}
@keyframes slid {
  0% {left: 0;}
  20% {left: 0;}

  25% {left: -100%;}
  45% {left: -100%;}

  50% {left: -200%;}
  70% {left: -200%;}

  75% {left: -100%;}
  100% {left: -100%;}
}
*/
.slider-content {
  height: 600px;
  padding: 0px 40px;
}
.slider-header h1{
  color: var(--color-pink);
  text-shadow: 1px 1px 5px var(--color-blue2);
  font-size: 50px;
  font-weight: bold;
  text-align: left;
  padding:  70px  0px 0px 0px;
}
.slider-body p {
  font-family: var(--font2);
  font-size: 17px;
  line-height: 1.9;
  letter-spacing: 1px;
  text-align: left;
  color: var(--color-blue2)
}
.slider-body p span a{
  margin:5px;
  color: var(--color-pink2);
  transition: .5s;
  text-decoration: none;
}
.slider-body p span a:hover{
 box-shadow: 1px 1px 1px 1px var(--color-gray2);
}
.slider-footer{
  //margin: 0px;
  text-align: left;
}
.slider-footer span {
  font-weight: 600;
  font-size: 30px;
  color: var(--color-pink);
  text-shadow: 1px 1px 1px var(--color-blue2);
}
.slider-footer ul {
  list-style: none;
  display: flex;
  padding-left: 0px;
  margin: 5px 0px;
}
.slider-footer ul li{
  margin: 10px 20px;
}
.slider-body .item {
  margin: 30px;
}
.slider-body .item ul{
  list-style: none;
  margin:10px 0px;
  transition: .3s;
}
.slider-body .item ul:hover {
  cursor: pointer;
  transform: scale(1.3);
}
.slider-body .item h3{
  font-size:16px;
  margin-top:7px;
}
.slider2-body p {
  line-height: 2.5;
  font-size: 15.5px;
  padding-bottom: 80px;
}
.slider2-body h1{
}
/*  ------------ slider about ------------ */
.slider__nav {
  width: 18px;
  outline: none;
  height: 18px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  background-color: var(--color-pink2);
  border: 3px solid var(--color-white);
  box-shadow: 0 0 0 0 var(--color-blue2), 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.3s linear forwards;
          animation: check 0.3s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*.slider__image {
  font-size: 2.7rem;
      color: #2196F3;
}
.slider__caption {
  font-weight: 500;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.slider__txt {
  color: #999;
  margin-bottom: 3rem;
  max-width: 300px;
}*/

/* -------------------- Right side --------------- */
.about .right{
  height: 680px;
  z-index: 2;
  }
.about .right img{
  transition:.3s;
  -webkit-animation-name: phone;
  -webkit-animation-duration: 3s;
  animation-name: phone;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  margin: 80px 50px 80px 200px;
}

.about .left{
  height: 680px;
}
/* ===================================== Services or what i do================================*/
.serv {
  background: var(--color-blue);
  padding: 100px 0px;
}
.serv .serv-header h1{
  padding: 0px 50px 100px 50px;
  text-align: center;
  color: var(--color-blue);
  font-weight: bold;
  font-size: 50px;
  text-shadow: 1px 1px 5px var(--color-blue2);
}
.serv-body .serv-item {
  padding: 60px;
  transition: .3s;
  background:ffffff6b;
  padding: 50px 40px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0px 0px 10px 0px;
  margin-bottom: 50px;
}
.serv-body .serv-item:hover {
  transform: scale(1.1);
}
.serv-body .item-text{
  padding: 30px 0px;
}
.serv-body .serv-item h3{
  font-size: 19px;
}
.serv-body .serv-item p{
  font-size: 13px;
}
/*  ============================================ portfolio =================== */
.portfolio {
  padding: 100px 100px 150px 100px;
}
.portfolio .port-title h1{
  font-size: 50px;
  color: var(--color-white);
  text-shadow: 1px 1px 5px var(--color-blue2);
  text-align: center;
  font-weight: bold;
  margin-bottom: 100px;
  font-family: var(--font1);
}
.portfolio img {
    position: relative;
    width: 100%;
   object-fit: cover;
   box-shadow: 1px 1px 7px 1px var(--color-gray2);
   height: 95%;
}
.portfolio .row  col-md-4{
  position: relative;
}
.overlay {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 4%;
  width: 92%;
  transition: .3s;
  background:#9bd4d787;
  opacity: 0;
}
.overlay:hover{
      opacity: 1;
}
.overlay a{
    position: absolute;
    top: 40%;
    right: 30%;
    background: transparent;
    outline: none;
    border: 2px solid var(--color-blue2);
    width: 130px ;
    color: var( --color-blue2);
    height: 40px ;
    text-align: center ;
    line-height: 40px;
    transition: .3s;
    cursor: pointer;
}
.overlay a:hover{
    text-decoration: none;
    background: var(--color-blue2);
    color: var(--color-white);
}
.over1{
    height: 81%;
}
.over2 {
    height: 94%;
}
.over3{
    height: 85%;
}
.over4{
    height: 75%;
}
.over5{
    height: 93%;
}
.over6 {
   height: 93%;
}
.over7 {
    height: 83%;
}
.over8 {
    height: 93%;
}
.over9 {
    height: 83%;
}
/* ======================================== Testimonial ========================================*/
 .client {
  background: var(--color-pink);
 }
 .client .slider-client{
  height: 500px;
  padding-bottom: 50px;
 }
 .client .slider-client .slider__contents{
   padding: 0px;
}
 .client .slider-client .slider__contents .slider__image{
  margin-top: -50px;
 }
 .client .slider-client .slider__contents .slider__caption{
   margin: 30px;
   color: var(--color-pink2);
 }
 .client .slider-client .slider__contents .slider__txt{
  padding: 0px 0px 50px 0px;
  color: var(--color-blue2);
}
 .client  h1{
  color: var(--color-pink);
  font-weight: bold;
  text-shadow: 1px 1px 5px var(--color-blue2);
  text-align: center;
  padding: 120px 0px 0px 0px;
  font-size: 50px;
 }
 /* ======================================== Contact===================================================*/
 .contact{
  background: #000;
  height: 660px;
  padding: 200px 100px 100px 100px;
  text-align: center;
 }
 .contact .header-contact h1{
  font-size: 60px;
  color:#000;
  text-shadow: 1px 1px 5px var(--color-pink);
  text-align: center;
  font-weight: bold;
 }
 .body-contact {
  color: var(--color-pink);
  margin: 30px;
  text-align: center;
 }
 .body-contact span {
  display: block;
  font-size: 20px;
  margin: 30px;
 }
 .body-contact ul {
  list-style: none;
  display: flex;
 }
 .body-contact ul li:first-child {
  margin-left:  320px;
}

.body-contact ul li i:hover {
    color: var(--color-blue);
}
.body-contact ul li  i{
  font-size: 25px ;
  margin: 30px;
  transition: .3s;
    color: var(--color-pink);
}

.footer-contact {
  margin: 100px 0px 0px 0px;
  color: var(--color-gray1);
}
.footer-contact span{
    font-size: 12px;
}
/* ====================================== Animation ====================== */
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

/*---------------- animation slider about --------------------*/

@-webkit-keyframes check {
  50% {
    outline-color: var(--color-blue2);
    box-shadow: 0 0 0 12px var(--color-blue2), 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: var(--color-blue2);
    box-shadow: 0 0 0 0 var(--color-blue2), 0 0 0 0 rgba(51, 51, 51, 0);
    transform: scale(1.4);
    border-color: var(--color-pink2);
    background: var(--color-white);
  }
}
/* =================================== phone animation =============== */
/* Safari 4.0 - 8.0 */
@-webkit-keyframes phone {
    0%{margin-top: 80px;}
      25%{margin-top: 70px;}
    50% {margin-top: 60px;}
       75%{margin-top: 70px;}
    100% {margin-top: 80px;}
}

/* Standard syntax */
@keyframes phone {
      0%{margin-top: 80px;}
      25%{margin-top: 70px;}
    50% {margin-top: 60px;}
       75%{margin-top: 70px;}
    100% {margin-top: 80px;}
}

/* =============== loader*/
  /* Preloader */
.preloader_hide {opacity:0; width:100%; overflow-x:hidden;}
#preloader {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:#000;
    z-index: 99999;
}
#preloader div {
    position:fixed;
    left:0;
    top:50%;
    display:block;
    width:100%;
    height:10px;
    margin:-5px 0 0;
    text-align:center;

}
#preloader em {
    display:inline-block;
    vertical-align:top;
    margin:0 2px 0 5px;
    width:30px;
    height:30px;
    border: 3px solid var(--color-pink2);
    background-color: transparent;
    animation: loading-rotate 2s infinite;
    //animation: 1.2s ease-in-out normal none infinite preload_animate;
    //-webkit-animation: 1.2s ease-in-out normal none infinite preload_animate;
}
#preloader em:nth-child(1) {
    border-color: var(--color-pink);
    animation-delay:0s;
    -moz-animation-delay:0s;
    -webkit-animation-delay:0s;
}
#preloader em:nth-child(2) {
        border-color: var(--color-blue2);

    animation-delay:0.2s;
    -moz-animation-delay:0.2s;
    -webkit-animation-delay:0.2s;
}
#preloader em:nth-child(3) {
        border-color: var(--color-pink2);
    animation-delay:0.4s;
    -moz-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
}
#preloader em:nth-child(4) {
        border-color: var(--color-blue);

    animation-delay:0.6s;
    -moz-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
}
@-webkit-keyframes loading-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}
@keyframes loading-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}
/* ==============================================
================== Responsive
============================================== */
/* ================  (max-width:1280px) ======= */
@media (max-width:1280px){
 /* --------- home -------------*/
   .header-content{
    height: 550px;
    transform: translate(0%, 30%);
  }
  .header-content h1{
    font-size: 45px;
  }
  .navbar{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px 0px !important;
  }
  .navbar-nav{
    padding: 10px 0px;
  }
  .button{
    margin: 20px;
  }
  .navbar-light .navbar-nav .nav-link{
    font-weight: bold;
  }
  .header-content .right{
     display: none;
  }
/* -------------- about ------ */
  .about {
    height: 770px;
  }
  .slider{
    height: 750px;
  }
 /* ----------------- testimonial -------*/
 .client .slider-client{
    height: 580px;
 }
 /* ------------ contact ----------*/
 .contact{
  height: 790px;
 }
 .body-contact span{
  font-size: 25px;
 }
}
/* ================================================  (max-width:1080px) ======================= */
@media (max-width:1080px){
 /* --------- home -------------*/
   .header-content{
    height: 400px;
    transform: translate(0%, 36%);
  }
  .header-content h1{
    font-size: 40px;
  }
  .navbar-nav li{
    margin : 0px 5px;
  }
  .navbar-nav{
    padding: 10px 0px;
  }
  .header-content h1{
    font-size: 35px;
  }
  .navbar-nav{
   margin-left: 35%;
  }
/* -------------- about ------ */
  .about {
    height: 700px;
  }
  .slider{
    height: 630px;
  }
  .slider2 {
    width: 600px
  }
  .slider-header h1{
    padding: 40px 0px 0px 0px;
    font-size: 45px;
  }
  .about .right img{
     padding-top: 100px;
      margin: 80px 50px 80px 100px;
  }
  .slider__contents{
    padding: 0px;
  }
  .slider2-body p{
    font-size: 14px;
    line-height: 1.5;
  }
  .slider-header h1{
    font-size: 35px;
    padding: 40px 0px 40px 0px;
  }
  .slider-content2{
    margin-right: -20px !important;
  }
  /* -------------- services------------*/
  .serv-body .serv-item{
    padding: 30px;
  }
 /* ----------------- testimonial -------*/
 .client .slider-client{
    height: 450px;
    width: 100%
 }
 /* ------------ contact ----------*/
 .contact{
  height: 650px;
 }
 .body-contact span{
  font-size: 25px;
 }
 .body-contact ul li:first-child {
  margin-left: 200px;
  }
}
/*========================================== (max-width:991px) ==================================*/
@media (max-width:991px){
 /* --------- home -------------*/
   .header-content{
    height: 380px;
    }
  .header-content h1{
    font-size: 30px;
  }
  .navbar-nav li{
    margin : 0px 10px;
  }
  .navbar-nav{
   margin-left: 35%;
    padding: 0px;
  flex-direction: row;
  }
  /* -------------- services------------*/
  .serv-body .serv-item{
    padding: 10px 20px;
  }
 /* ----------------- testimonial -------*/
 .client .slider-client{
    height: 450px;
    width: 100%
 }
 /* ------------ contact ----------*/
 .contact{
  height: 650px;
 }
 .body-contact span{
  font-size: 25px;
 }
 .body-contact ul li:first-child {
  margin-left: 100px;
  }

}
/* ======================================  (max-width:800px) ================================ */
@media (max-width:800px){
 /* --------- home -------------*/
  .navbar-nav{
   margin-left: 20%;
  }
/* -------------- about ------ */
  .about {
    height: 650px;
  }
  .slider{
    height: 600px;
  }
  .slider2 {
    width: 200%;
  }
 .about .right{
    display: none;
 }
  .slider__contents{
    padding: 0px;
  }

 /* ------------ contact ----------*/
 .body-contact ul li:first-child {
  margin-left: 80px;
  }

}
/* ============================================= (max-width:767px)===========*/
@media (max-width:767px){
 /* --------- home -------------*/
  .header-content h1{
    font-size: 25px;
  }
  .navbar-nav li{
    margin : 0px 10px;
  }
  .button{
    width: 130px;
    height: 40px;
  }
  .button .a{
    width: 130px;
    padding: 0px;
    line-height: 25px;
    font-size: 10px;
    height: 40px;
  }
/* -------------- about ------ */
  .about {
    height: 600px;
  }
  .slider{
    height: 600px;
  }
  .slider2 {
    width: 100%;
  }
  .slider-header h1{
    font-size: 35px;
    padding: 40px 0px 25px 0px;
  }

 /* ----------------- testimonial -------*/
 .client .slider-client{
    height: 400px;
 }
 /* ------------ contact ----------*/
 .contact{
  height: 600px;
 }
 .body-contact ul li:first-child {
  margin-left: 35px;
  }
}
/* ========================================== (max-width:736px) ================================= */
@media (max-width:736px){
 /* --------- home -------------*/
  .navbar-nav li{
    margin : 0px 8px;
  }
  .navbar-light .navbar-nav .nav-link{
    font-weight: bold;
    font-size: 13px;
  }
}
/* ============================================== (max-width:667px) ========================== */
@media (max-width:667px){
 /* --------- home -------------*/
  .navbar-nav li{
    margin : 0px 5x;
  }
  .logo{
    width: 48px;
    height: 48px;
  }
   .logo:before{
    width: 48px;
    line-height: 48px;
    font-size: 25px;
    height: 48px;
  }
   .logo:after{
    width: 48px;
    height: 48px;
  }
  .logo span{
    font-size: 13px;
    top: -80%;
    left: -80%;
  }
 /* ------------ contact ----------*/
 .body-contact span{
  font-size: 17px !important;
 }
 .contact .header-contact h1{
  font-size: 40px;
 }
 .body-contact ul li:first-child {
  margin-left: 0px;
  }
}
/* ========================================================= (max-width:640px) ================================= */
@media (max-width:640px){
 /* --------- home -------------*/
  .navbar-nav{
    margin-left: 20% !important;
  }
}
/* ================================================== (max-width:568px) ============================== */
@media (max-width:568px){
 /* --------- home -------------*/
  .navbar-nav{
    margin-left: 15%;
  }
 .navbar-light .navbar-nav .nav-link{
  font-size: 10px;
 }
 /* ------------- contact -------- */
 .body-contact ul li:first-child{
  margin-left: -25%;
 }
}
/* ==================================================== (max-width:480px) ===================================== */
@media (max-width:480px){
  .logo{
    width: 40px;
    height:40px;
  }
  .logo:before{
    width: 40px;
    font-size: 18px;
    line-height: 40px;
    height:40px;
  }
  .logo:after{
    width: 40px;
    height:40px;
  }
  .navbar-nav li{
    margin: 0px 4px;
  }
  .navbar-toggler {
    padding: .10rem .70rem;
    font-size: 1.05rem;
}
.header-content h1{
  font-size: 20px;
}
.hero {
    height: 180vh;
 }

 .slider-body p{
   font-size: 14px;
   letter-spacing: .3px;
 }
 .slider-footer img {
   width: 35px;
   height: 35px;
 }
.slider__contents{
  padding: 0px 5px;
}
.slider-body img {
  width: 35px;
  height: 35px;
}
.slider-body .item h3{
  font-size: 12px;
 }
 .portfolio .col-md-4{
   margin-bottom: 30px;
 }
 .client h1{
   margin: 70px 0px 0px 0px;
   font-size: 30px;
 }
 .client img{
   width: 35px;
   height: 35px;
 }
 .client .slider-client .slider__contents .slider__caption{
   font-size: 20px;
 }
 .client .slider-client .slider__contents .slider__txt{
   font-size: 15px;
 }
 .contact .header-contact h1{
   font-size: 30px;
 }
 .body-contact span{
   font-size: 13px !important;
 }
 .contact{
   padding: 50px 20px 0px 20px;
   height: 400px;
 }
 .body-contact ul li i{
   margin: 20px;
   font-size: 15px;
 }
 .body-contact ul{
   justify-content: center;
 }
 .portfolio .port-title h1{
   font-size: 30px;
 }
 .serv .serv-header h1{
   font-size: 30px;
 }
}
/* ======================(max-width:414px) ========= */
@media (max-width:414px){

}
/* ===================== (max-width:384px) ====== */
@media (max-width:384px){
  .slider-content{
    padding: 0px 1px;
  }
  .slider-body p{
    font-size: 12px;
  }
  .serv .serv-header h1{
    font-size: 30px;
  }
  .client h1{
    padding: 50px 0px 50px 0px;
  }
  .client .slider-client .slider__contents .slider__caption{
    margin: 10px;
  }
}
/* ================= (max-width:375px) =======*/
@media (max-width:375px){
}
/* ================ (max-width:320px) =========== */
@media (max-width:320px){


}
